<!DOCTYPE html>
<html>
  <head>
    <title>GameBoX</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'game-main' %>
  </head>

  <body>
    <div id='app'>
      <app></app>
    </div>
    <%= yield %>
  </body>
</html>
